/* div {
    border: 2px solid black;
} */

.wrapper {
    
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: 1;
    gap: 10px 20px;
    /* justify-items: end; */
    /* align-items: end; */
    width: 100%;
    height: 100px;
    
    text-align: center;
}

.wrapper_main {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: (6, 85px);
    gap: 10px 20px;
    /* justify-items: end; */
    /* align-items: end; */
    width: 100%;
    height: 550px;
    
    text-align: center;
}

.wrapper_main_footer {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: 4fr 1fr;
    grid-template-rows: (1, 180px);
    gap: 10px 20px;
    /* justify-items: end; */
    /* align-items: end; */
    width: 100%;
    height: 200px;
    
    text-align: center;
}

.wrapper_about {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows: (3, 150px);
    gap: 10px 20px;
    /* justify-items: end; */
    /* align-items: end; */
    width: 100%;
    height: 450px;
    
    text-align: center;
}

.wrapper_about {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows: (3, 150px);
    gap: 10px 20px;
    /* justify-items: end; */
    /* align-items: end; */
    width: 100%;
    height: 450px;
    
    text-align: center;
}


.box1_1 .name_s {
    
    font-size: 60px;
    font-family: 'Cabin Sketch', cursive;
    text-align: left;
}

.box1_1 .text_1 {
    
    line-height: 10px;
    font-family: 'Raleway', sans-serif;
    text-align: left;
}


.box1_1 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
}

.box1_2 {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    text-align: left;
    display: flex;
}

.box1_3 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 1;
    grid-column-end: 4;
    text-align: left;
}

.box1_4 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    text-align: left;
}

.block1_2, .block2_2 {
    width: 50%;
}

.block2_2 {
    text-align: center;
    
}

.block2_2_1 {
    display: none;
}

.block2_2:hover .block2_2_1 {
    display: inline-block
}

.box2_4 {
    
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 4;
    text-align: center;
}

.avatar {
    padding-right: 30px;
    border-right: 3px solid rgb(33, 115, 46);
}

.fa-regular {
    font-size: 31px;
    color: rgb(33, 115, 46);
    margin: 0px;
    padding: 0px;
}

.pbtn {
    font-size: 25px;
}

.btn1 {
    background-color: white;
    border: none;
}

.btn2 {
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.069);
    
}

.e-mail, .guitar, .music, .resume_l   {
    text-decoration: none;
    color: black;
    padding: 3px;
}

#example {
    text-decoration: none; 
    border: none;
}

.links {
    display: inline-block;
    text-align: left;
    
}

.fa-brands {
    padding-top: 10px;
    padding-right: 25px;
    font-size: 20px;
    border: none;
}

.text_about1 {
    text-align: left;
    font-family: 'Raleway', sans-serif;
    margin-top: -11px;
    margin-bottom: 19px;
    
}

.text_about2 {
    text-align: left;
    font-family: 'Raleway', sans-serif;
    margin-top: -10px;
}

.box1 {
    
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 1;
    grid-column-end: 3;
    padding-top: 35px;
    /* grid-area: 1/ 1/ 4/ 1/; */
}

.box2 {
    
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 1;
    grid-column-end: 4;
    padding-top: 25px;
    
    font-family: 'Delicious Handrawn', cursive;
    
    
}

.box3 {
    
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 1;
    grid-column-end: 8;
    padding-top: 35px;
    background-color: rgba(0, 0, 0, 0);
}

.box4 {
    
    grid-row-start: 1;
    grid-column-start: 8;
    grid-row-end: 1;
    grid-column-end: 10;
    padding-top: 35px;
}

.box5 {
    
    grid-row-start: 1;
    grid-column-start: 10;
    grid-row-end: 1;
    grid-column-end: 11;
    padding-top: 35px;
    font-family: 'Raleway', sans-serif;
    
}

.navabout {
    text-decoration: none; 
    color: black;
}

.box6 {

    grid-row-start: 1;
    grid-column-start: 11;
    grid-row-end: 1;
    grid-column-end: 12;
    padding-top: 35px;
    font-family: 'Raleway', sans-serif;
}

.box7 {
    
    grid-row-start: 1;
    grid-column-start: 12;
    grid-row-end: 1;
    grid-column-end: 13;
    padding-top: 35px;
    font-family: 'Raleway', sans-serif;
}

.box8 {
    
    grid-row-start: 1;
    grid-column-start: 13;
    grid-row-end: 1;
    grid-column-end: 14;
    padding-top: 35px;
    font-family: 'Raleway', sans-serif;
}

.box9 {
    
    grid-row-start: 1;
    grid-column-start: 14;
    grid-row-end: 1;
    grid-column-end: 16;
    padding-top: 25px;
    text-align: left;
    font-size: 25px;
}